[package]
name = "ttfb"
description = """
Library + CLI-Tool to measure the TTFB (time to first byte) of HTTP(S) requests.
Additionally, this crate measures the times of DNS lookup, TCP connect, and
TLS handshake.
"""
version = "1.5.2"
edition = "2021"
keywords = ["ttfb", "http", "timings", "web"]
categories = ["network-programming", "command-line-utilities"]
readme = "README.md"
license = "MIT"
homepage = "https://github.com/phip1611/ttfb"
repository = "https://github.com/phip1611/ttfb"
documentation = "https://docs.rs/ttfb"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
# +++ LIBRARY +++

# DNS over systems default DNS resolver
trust-dns-resolver = { version = "0.22", features = ["dns-over-rustls"] }
# TLS handshake
native-tls = "0.2"
# automatic Display impl for enums
derive_more = { version = "0.99", default-features = false, features = ["display"] }
# nice abstraction of URL
url = "2.2"
regex = "1.5"

# +++ BINARY +++
# used for the binary, not the lib
crossterm = "0.25"

# CLI args parsing
[dependencies.clap]
version = "4.0"
features = [
    "std",
    "color",
    "help",
    "usage",
    "error-context",
    "suggestions",
    "derive",
    "unicode",
    "wrap_help"
]

